@import "fonts/circular_std/circular_std.css";
html,
body {
  font-family: 'CircularStd', sans-serif;
}
a {
  color: #216ab9;
}
.navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 0.9em;
}
.dropdown-menu.show {
  margin-bottom: 10px;
}
.navbar-nav .sign-up-button a.nav-link {
  border: 2px solid #00a2df;
  border-radius: 50px;
  padding: 6px 20px;
  color: white;
  background: #00a2df;
  transition: all 0.3s;
  text-align: center;
  text-transform: uppercase;
}
.navbar-nav .sign-up-button a.nav-link:hover {
  border: 2px solid #00a2df;
  color: white;
  background: #00a2df;
}
.navbar-nav .sign-in-button a.nav-link {
  border: 2px solid #00a2df;
  border-radius: 50px;
  padding: 6px 20px;
  color: #00a2df;
  transition: all 0.3s;
  text-align: center;
  text-transform: uppercase;
  margin-left: 3rem!important;
}
.navbar-nav .sign-in-button a.nav-link:hover {
  border: 2px solid #00a2df;
  color: white;
  background: #00a2df;
}
@media (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 0.9rem;
  }
}
@media (max-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 0.7rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 0;
  }
  .navbar-nav {
    padding: 10px;
  }
  .navbar-nav .menu-item {
    border-bottom: 1px solid #ececec;
  }
  .navbar-nav .menu-item:last-child {
    border: none;
  }
  .navbar-nav .menu-item.sign-up-button {
    margin-top: 15px;
    border: none;
  }
  .navbar-nav .menu-item.sign-up-button > a {
    margin-left: 0 !important;
  }
  .navbar-nav .menu-item.sign-in-button {
    margin-top: 15px;
    border: none;
  }
  .navbar-nav .menu-item.sign-in-button > a {
    margin-left: 0 !important;
  }
  .navbar-nav .dropdown-menu.show {
    background: none;
    border: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 10px 0;
  }
  .navbar-nav .dropdown-menu.show .dropdown-item {
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
    border-top: 1px solid #ececec;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    align-items: center;
  }
}
footer.site-footer {
  background-color: #429BD7;
  padding: 0;
  color: white;
  font-size: 14px;
}
footer.site-footer .site-info {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px 0 20px 0;
  text-align: center;
  border-top: 1px solid #044f86;
  background: #055590;
}
footer.site-footer .site-info a {
  color: white;
}
footer.site-footer .footer-flex-container {
  padding: 80px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0 26px;
}
@media (max-width: 992px) {
  footer.site-footer .footer-flex-container {
    grid-template-columns: 1fr;
    grid-gap: 26px 0;
  }
}
footer.site-footer .footer-flex-container .footer-widget h4.widget-title {
  color: white;
  font-size: 16px;
  margin: 2px 0 2px 0;
  font-weight: 400;
}
footer.site-footer .footer-navigation .menu-footer-container {
  display: flex;
  justify-content: flex-end;
}
footer.site-footer .footer-navigation .menu-footer-container ul.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  width: 500px;
}
@media (max-width: 992px) {
  footer.site-footer .footer-navigation .menu-footer-container ul.menu {
    padding: 0;
    width: 100%;
  }
}
footer.site-footer .footer-navigation .menu-footer-container ul.menu > li {
  padding: 0;
}
footer.site-footer .footer-navigation .menu-footer-container ul.menu > li > a {
  text-decoration: none;
  color: white;
  cursor: default;
  pointer-events: none;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 12px;
  display: block;
}
@media (max-width: 992px) {
  footer.site-footer .footer-navigation .menu-footer-container ul.menu > li > a {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding: 0 10px 5px 10px;
  }
}
footer.site-footer .footer-navigation .menu-footer-container ul.menu a {
  color: white;
  font-size: 15px;
}
@media (max-width: 992px) {
  footer.site-footer .footer-navigation .menu-footer-container ul.menu {
    flex-direction: column;
  }
  footer.site-footer .footer-navigation .menu-footer-container ul.menu > li {
    padding: 0;
  }
}
footer.site-footer .footer-navigation ul.sub-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer.site-footer .footer-navigation ul.sub-menu > li:not(:last-child) {
  margin-bottom: 8px;
}
@media (max-width: 992px) {
  footer.site-footer .footer-navigation ul.sub-menu > li a {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
  }
}
.news-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #429bd7;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.news-header h2 {
  font-weight: bold;
  font-size: 40px;
  color: #080808;
  margin: 0;
}
.news-header .slider-button {
  display: -webkit-inline-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  background: #429bd7;
  width: 40px;
  height: 40px;
  color: white;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
  border-radius: 100px;
}
.news-archive-list {
  padding-bottom: 60px;
}
.news-archive-list.news-archive-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 992px) {
  .news-archive-list.news-archive-list-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .news-archive-list.news-archive-list-grid {
    grid-template-columns: 1fr;
  }
}
.news-archive-list.news-archive-list-grid .archive-news-list-item:nth-child(1),
.news-archive-list.news-archive-list-grid .archive-news-list-item:nth-child(2) {
  grid-column: auto / span 2;
}
@media screen and (max-width: 768px) {
  .news-archive-list.news-archive-list-grid .archive-news-list-item:nth-child(1),
  .news-archive-list.news-archive-list-grid .archive-news-list-item:nth-child(2) {
    grid-column: auto;
  }
}
.archive-news-list-item {
  color: #4d4d4d;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 16px;
  overflow: hidden;
  text-decoration: none !important;
  height: 390px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.archive-news-list-item:hover {
  color: black;
}
.archive-news-list-item > * {
  pointer-events: none;
}
.archive-news-list-item h4 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 8px 0;
  color: #080808;
  flex: none;
  padding: 0 24px;
}
.archive-news-list-item p {
  font-size: 16px;
  color: #616161;
  margin: 5px 0 0 0;
  flex: none;
  height: 50px;
  overflow: hidden;
  padding: 0 24px;
}
.archive-news-list-item .date {
  font-size: 14px;
  color: #9E9E9E;
  flex: none;
  padding: 0 24px;
}
.archive-news-list-item .page-name {
  font-size: 14px;
  font-weight: 500;
  padding: 4px 24px;
}
.archive-news-list-item img {
  margin-bottom: 10px;
  flex: none;
  object-fit: cover;
  height: 170px;
  width: 100%;
}
.navbar.navbar-light {
  background: #F3F5F9;
  min-height: 80px;
}
.navbar.navbar-light li > a {
  text-transform: none;
}
article.post h1.entry-title,
article.news h1.entry-title {
  margin: 30px 0;
}
@media (max-width: 900px) {
  article.post h1.entry-title,
  article.news h1.entry-title {
    margin: 15px 0;
    font-size: 1.5rem;
  }
}
article.post .post-thumbnail,
article.news .post-thumbnail {
  text-align: center;
}
article.post .post-thumbnail img,
article.news .post-thumbnail img {
  flex: none;
  margin: 0 auto;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 70vh;
}
article.post .entry-content,
article.news .entry-content {
  font-size: 1.2rem;
}
@media (max-width: 900px) {
  article.post .entry-content,
  article.news .entry-content {
    font-size: 1rem;
  }
}
.recent-posts {
  padding: 20px;
  background: #f7f7f7;
}
.recent-posts .recent-posts-container {
  margin: 10px -15px;
}
.recent-posts .recent-post-item a {
  color: #4d4d4d;
  text-decoration: none;
  display: flex;
  background: white;
  border: 1px solid #eaeaea;
  padding: 10px;
  margin: 5px;
  height: 220px;
  overflow: hidden;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .recent-posts .recent-post-item a {
    flex-direction: column;
    height: auto;
  }
}
.recent-posts .recent-post-item a:hover {
  border: 1px solid #d1d1d1;
  color: black;
}
.recent-posts .recent-post-item a .post-info {
  padding-left: 10px;
  position: relative;
  overflow: hidden;
  height: 200px;
}
@media (max-width: 768px) {
  .recent-posts .recent-post-item a .post-info {
    height: auto;
    max-height: 200px;
  }
}
.recent-posts .recent-post-item a .post-info::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}
.recent-posts .recent-post-item a h4 {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #636363;
  padding: 0;
  margin: 0 0 10px 0;
}
@media (max-width: 1200px) {
  .recent-posts .recent-post-item a h4 {
    font-size: 1rem;
  }
}
.recent-posts .recent-post-item a p {
  font-size: 0.8rem;
  margin: 0;
}
.recent-posts .recent-post-item a img {
  flex: none;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .recent-posts .recent-post-item a img {
    width: 100%;
    margin-bottom: 10px;
  }
}
.recent-posts .recent-post-item .posted-on {
  font-size: 0.8rem;
  color: #636363;
  margin-bottom: 5px;
  display: block;
}
.archive-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-size: cover;
}
.archive-header h1 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  text-shadow: 0 0 20px #000000;
}
@media (max-width: 1200px) {
  .archive-header h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 900px) {
  .archive-header h1 {
    font-size: 2rem;
  }
}
.page-navigation {
  padding: 0 0 50px 0;
  text-align: center;
}
.page-navigation .nav-links {
  display: flex;
  justify-content: space-between;
}
.page-navigation .nav-links .nav-previous,
.page-navigation .nav-links .nav-next {
  padding: 0 10px;
}
.error-404 {
  padding: 150px 10px;
}
.error-404 p {
  font-size: 1.3rem;
  margin-bottom: 50px;
  font-weight: 300;
}
.btn.btn-rounded {
  border-radius: 10rem;
}
.search-header {
  padding: 50px 0 30px 0;
}
.search-container {
  padding: 0 0 30px 0;
}
.image-flex-grid .elementor-widget-wrap {
  display: flex;
  justify-content: center;
}
.image-flex-grid .elementor-widget-image {
  width: auto !important;
  max-width: 30% !important;
  margin: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px) {
  .image-flex-grid .elementor-widget-image {
    width: 100% !important;
    max-width: 100% !important;
  }
}
.yikes-easy-mc-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.quote-bubble .elementor-testimonial-content {
  background: white;
  padding: 20px;
  border-radius: 15px;
  min-width: 150px;
  position: relative;
}
.quote-bubble .elementor-testimonial-content:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent #fff;
}
.quote-bubble-dark .elementor-testimonial-content {
  background: #0d8ab9;
}
.quote-bubble-dark .elementor-testimonial-content:after {
  border-color: transparent transparent transparent #0d8ab9;
}
.category-blog .elementor-text-editor p {
  margin-bottom: 2.5rem;
}
body {
  box-sizing: border-box;
}
.custom-slider .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #429bd7;
  padding-bottom: 30px;
}
.custom-slider .header h3 {
  font-weight: bold;
  font-size: 40px;
  color: #080808;
  margin: 0;
}
.custom-slider .header .slider-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  background: #429bd7;
  width: 40px;
  height: 40px;
  color: white;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
  border-radius: 100px;
}
.custom-slider .header .slider-button:hover {
  background: #2882be;
}
.custom-slider.medium .siema .item .content {
  height: 370px;
}
.custom-slider .siema {
  box-sizing: border-box;
  margin: 0 -15px;
  padding: 32px 0;
}
.custom-slider .siema .item .content {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 240px;
  margin: 0 15px;
  padding: 24px;
}
.custom-slider .siema .item .cover {
  margin: -24px -24px 24px -24px;
  height: 150px;
  max-width: inherit;
  object-fit: cover;
}
.custom-slider .siema .item .title {
  font-size: 16px;
  color: #080808;
  font-weight: bold;
  margin-bottom: 8px;
  flex-grow: 0;
}
.custom-slider .siema .item .title.big {
  font-size: 24px;
}
.custom-slider .siema .item .text {
  font-size: 16px;
  color: #616161;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 16px;
}
.custom-slider .siema .item .read-more {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #429bd7;
}
.custom-slider .siema .item .person {
  display: grid;
  grid-template-columns: 72px auto;
  grid-template-rows: auto auto;
  gap: 1px 1px;
  grid-template-areas: "avatar name" "avatar role";
  flex-grow: 0;
}
.custom-slider .siema .item .person .avatar {
  grid-area: avatar;
  display: flex;
  position: relative;
}
.custom-slider .siema .item .person .avatar img.avatar-img {
  width: 48px;
  height: 48px;
  background: grey;
  border-radius: 50%;
}
.custom-slider .siema .item .person .avatar .svg {
  position: absolute;
  top: -10px;
  right: 10px;
  filter: hue-rotate(90deg);
}
.custom-slider .siema .item .person .name {
  grid-area: name;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: #080808;
}
.custom-slider .siema .item .person .role {
  grid-area: role;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #616161;
}
body {
  box-sizing: border-box;
}
.quotes-carousel .siema {
  box-sizing: border-box;
  margin: 0 -15px;
  padding: 32px 0;
}
.quotes-carousel .siema .item {
  position: relative;
}
.quotes-carousel .siema .item .content {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: auto auto auto 1fr;
  gap: 0 0;
  grid-template-areas: "text image" "name image" "role image" "actions image";
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  height: 444px;
  margin: 0 15px;
  padding: 60px;
  position: relative;
}
.quotes-carousel .siema .item .quote-icon {
  position: absolute;
  top: -30px;
  left: 12px;
}
.quotes-carousel .siema .item .quote-icon img {
  width: 94px;
  height: 67px;
}
.quotes-carousel .siema .item .image {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quotes-carousel .siema .item .image img {
  margin: -80px 0;
}
.quotes-carousel .siema .item .text {
  grid-area: text;
  font-size: 24px;
  line-height: 34px;
  color: #616161;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 16px;
}
.quotes-carousel .siema .item .name {
  grid-area: name;
  font-size: 16px;
}
.quotes-carousel .siema .item .role {
  grid-area: role;
  font-size: 14px;
  color: #616161;
}
.quotes-carousel .siema .item .actions {
  grid-area: actions;
  display: flex;
  align-items: flex-end;
}
.quotes-carousel .siema .item .actions .slider-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  background: #429bd7;
  width: 40px;
  height: 40px;
  color: white;
  margin-right: 16px;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
  border-radius: 100px;
}
.quotes-carousel .siema .item .actions .slider-button:hover {
  background: #2882be;
}
.donate-card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 24px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.donate-card .description {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #616161;
}
.donate-card .amount {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #0a2739;
}
.donate-card:hover {
  background: #e6f6fb;
  /* Brand / Lighter Blue #429BD7 */
  border: 1px solid #429bd7;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}
.donate-card:hover .amount {
  color: #429bd7;
}
.btn-uppercased {
  font-size: 14px;
  text-transform: uppercase;
}
.m-t-100 {
  margin-top: 100px;
}
.page-header {
  padding: 50px 0;
  align-items: center;
  background: #F3F5F9;
}
.page-header .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.page-header h1.title {
  margin: 0 0 16px 0;
  font-size: 48px;
}
.page-header p.text {
  font-size: 24px;
  line-height: 34px;
  color: #616161;
}
.archive-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0;
}
@media screen and (max-width: 992px) {
  .archive-container {
    grid-template-columns: 1fr;
  }
}
.archive-container .post:nth-child(1) {
  grid-column: auto / span 2;
}
@media screen and (max-width: 992px) {
  .archive-container .post:nth-child(1) {
    grid-column: auto;
  }
}
.archive-container .page-navigation {
  grid-column: auto / span 2;
}
@media screen and (max-width: 992px) {
  .archive-container .page-navigation {
    grid-column: auto;
  }
}
.archive-container .post-item {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  display: flex;
  margin: 16px;
  height: 340px;
}
@media (max-width: 768px) {
  .archive-container .post-item {
    flex-direction: column;
    height: 586px;
  }
  .archive-container .post-item img {
    height: 140px;
  }
}
.archive-container .post-item:hover {
  color: black;
}
.archive-container .post-item .thumbnail-container {
  width: 50%;
  flex: 1;
}
@media (max-width: 800px) {
  .archive-container .post-item .thumbnail-container {
    width: 100%;
    margin-bottom: 20px;
  }
}
.archive-container .post-item .thumbnail-container .thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
}
.archive-container .post-item .thumbnail-container .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.archive-container .post-item .thumbnail-container .thumbnail.small {
  background: #ececec;
}
.archive-container .post-item .thumbnail-container .thumbnail.small img {
  object-fit: none;
}
.archive-container .post-item .post-info {
  padding: 20px;
  position: relative;
  overflow: hidden;
  width: 50%;
  flex: 1;
}
@media (max-width: 800px) {
  .archive-container .post-item .post-info {
    width: 100%;
  }
}
.archive-container .post-item .post-info a {
  text-decoration: none;
  text-transform: inherit;
}
.archive-container .post-item .post-info h4 {
  font-size: 32px;
  color: #080808;
  font-weight: 500;
  text-transform: inherit;
}
.archive-container .post-item .post-info p {
  font-size: 1rem;
  line-height: 2rem;
  margin: 0 0 10px 0;
}
.archive-container .post-item .post-info .posted-on {
  font-size: 0.9rem;
  font-style: italic;
  color: #636363;
  margin-bottom: 10px;
  display: block;
}
.bg-gray {
  background: #F3F5F9;
}
