@import "./fonts/circular_std/circular_std.css";

html,
body {
	font-family: 'CircularStd', sans-serif;
}

a {
	color: #216ab9;
}

@import "./navbar.less";
@import "./footer.less";
@import "./news-archive.less";


.navbar.navbar-light{
	background: #F3F5F9;
	min-height: 80px;


	li{
		>a{
			text-transform: none;
		}
	}
}



article.post,
article.news {
	h1.entry-title {
		margin: 30px 0;
		@media (max-width: 900px) {
			margin: 15px 0;
			font-size: 1.5rem;
		}
	}

	.post-thumbnail {
		text-align: center;
		img {
			flex: none;
			margin: 0 auto;
			height: auto;
			width: auto;
			max-width: 100%;
			max-height: 70vh;
		}
	}

	.entry-content {
		font-size: 1.2rem;
		@media (max-width: 900px) {
			font-size: 1rem;
		}
	}
}

.recent-posts {
	padding: 20px;
	background: #f7f7f7;

	.recent-posts-container {
		margin: 10px -15px;
	}

	.recent-post-item {
		a {
			color: lighten(black, 30%);
			text-decoration: none;
			display: flex;
			background: white;
			border: 1px solid #eaeaea;
			padding: 10px;
			margin: 5px;
			height: 220px;
			overflow: hidden;
			border-radius: 5px;

			@media (max-width: 768px) {
				flex-direction: column;
				height: auto;
			}

			&:hover {
				border: 1px solid darken(#eaeaea, 10%);
				color: black;
			}

			.post-info {
				padding-left: 10px;
				position: relative;
				overflow: hidden;
				height: 200px;

				@media (max-width: 768px) {
					height: auto;
					max-height: 200px;
				}

				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					height: 40px;
					width: 100%;
					background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
					background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
					background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(
							startColorstr='#00ffffff',
							endColorstr='#ffffff',
							GradientType=0
						);
				}
			}
			h4 {
				font-size: 1.1rem;
				text-transform: uppercase;
				color: #636363;
				padding: 0;
				margin: 0 0 10px 0;
				@media (max-width: 1200px) {
					font-size: 1rem;
				}
			}
			p {
				font-size: 0.8rem;
				margin: 0;
			}
			img {
				flex: none;
				width: 200px;
				height: 200px;
				object-fit: cover;
				@media (max-width: 768px) {
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}

		.posted-on {
			font-size: 0.8rem;
			color: #636363;
			margin-bottom: 5px;
			display: block;
		}
	}
}

.archive-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	background-size: cover;

	h1 {
		font-size: 3rem;
		color: white;
		text-transform: uppercase;
		margin: 0;
		text-align: center;
		text-shadow: 0 0 20px #000000;

		@media (max-width: 1200px) {
			font-size: 2.5rem;
		}

		@media (max-width: 900px) {
			font-size: 2rem;
		}
	}
}

.page-navigation {
	padding: 0 0 50px 0;
	text-align: center;
	.nav-links {
		display: flex;
		justify-content: space-between;
		.nav-previous,
		.nav-next {
			padding: 0 10px;
		}
	}
}

.error-404 {
	padding: 150px 10px;
	p {
		font-size: 1.3rem;
		margin-bottom: 50px;
		font-weight: 300;
	}
}

.btn.btn-rounded {
	border-radius: 10rem;
}

.search-header {
	padding: 50px 0 30px 0;
}
.search-container {
	padding: 0 0 30px 0;
}

.image-flex-grid {
	.elementor-widget-wrap {
		display: flex;
		justify-content: center;
	}

	.elementor-widget-image {
		width: auto !important;
		max-width: 30% !important;
		margin: 10px !important;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 900px) {
			width: 100% !important;
			max-width: 100% !important;
		}
	}
}

.yikes-easy-mc-form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.quote-bubble .elementor-testimonial-content {
	background: white;
	padding: 20px;
	border-radius: 15px;
	min-width: 150px;
	position: relative;
}

.quote-bubble .elementor-testimonial-content:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	right: auto;
	top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent #fff;
}

.quote-bubble-dark .elementor-testimonial-content {
	background: #0d8ab9;
}

.quote-bubble-dark .elementor-testimonial-content:after {
	border-color: transparent transparent transparent #0d8ab9;
}

.category-blog .elementor-text-editor p {
	margin-bottom: 2.5rem;
}

body {
  box-sizing: border-box;
}
.custom-slider {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #429bd7;
    padding-bottom: 30px;

    h3 {
      font-weight: bold;
      font-size: 40px;
      color: #080808;
      margin: 0;
    }

    .slider-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      cursor: pointer;
      outline: none;
      border: none;
      background: #429bd7;
      width: 40px;
      height: 40px;
      color: white;

      box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
      border-radius: 100px;

      &:hover {
        background: #3678AF;
      }
    }
  }
  
  &.medium{
    .siema .item .content{
      height: 370px;
    }
  }

  .siema {
    box-sizing: border-box;
    margin: 0 -15px;
    padding: 32px 0;

    .item {
      .content {
        background: #ffffff;
        border: 1px solid #eeeeee;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        height: 240px;
        margin: 0 15px;

        padding: 24px;
      }

      .cover {
        margin: -24px -24px 24px -24px;
        height: 150px;
        max-width: inherit;
        object-fit: cover;
      }

      .title {
        font-size: 16px;
        color: #080808;
        font-weight: bold;
        margin-bottom: 8px;
        flex-grow: 0;

        &.big {
          font-size: 24px;
        }
      }

      .text {
        font-size: 16px;
        color: #616161;
        flex-grow: 1;
        overflow-y: auto;
        margin-bottom: 16px;
      }

      .read-more {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;

        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        
        text-decoration: none;

		color: #429bd7;
		
		i{
			margin-left: 8px;
		}
      }

      .person {
        display: grid;
        grid-template-columns: 72px auto;
        grid-template-rows: auto auto;
        gap: 1px 1px;
        grid-template-areas: "avatar name" "avatar role";
        flex-grow: 0;

        .avatar {
          grid-area: avatar;
          display: flex;
          position: relative;
          img.avatar-img {
            width: 48px;
            height: 48px;
            background: grey;
            border-radius: 50%;
          }

          .svg {
            position: absolute;
            top: -10px;
            right: 10px;
            filter: hue-rotate(90deg);
          }
        }

        .name {
          grid-area: name;
          display: flex;
          align-items: center;

          font-weight: bold;
          font-size: 16px;

          color: #080808;
        }

        .role {
          grid-area: role;
          display: flex;
          align-items: center;

          font-size: 14px;
          color: #616161;
        }
      }
    }
  }
}


body {
  box-sizing: border-box;
}
.quotes-carousel {
  .siema {
    box-sizing: border-box;
    margin: 0 -15px;
    padding: 32px 0;

    .item {
      position: relative;

      .content {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-template-rows: auto auto auto 1fr;
        gap: 0 0;
        grid-template-areas: "text image" "name image" "role image" "actions image";

        background: #ffffff;
        border: 1px solid #eeeeee;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
        border-radius: 10px;

        height: 444px;
        margin: 0 15px;

        padding: 60px;
        position: relative;
      }

      .quote-icon {
        position: absolute;
        top: -30px;
        left: 12px;
        img {
          width: 94px;
          height: 67px;
        }
      }

      .image {
        grid-area: image;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin: -80px 0;
        }
      }

      .text {
        grid-area: text;
        font-size: 24px;
        line-height: 34px;
        color: #616161;
        flex-grow: 1;
        overflow-y: auto;
        margin-bottom: 16px;
      }

      .name {
        grid-area: name;
        font-size: 16px;
      }

      .role {
        grid-area: role;
        font-size: 14px;

        color: #616161;
      }

      .actions {
        grid-area: actions;
        display: flex;
        align-items: flex-end;

        .slider-button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          cursor: pointer;
          outline: none;
          border: none;
          background: #429bd7;
          width: 40px;
          height: 40px;
          color: white;
          margin-right: 16px;

          box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
          border-radius: 100px;

          &:hover {
            background: darken(#429bd7, 10%);
          }
        }
      }
    }
  }
}

.donate-card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 24px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  min-height: 160px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  .description {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #616161;
  }

  .amount {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #0a2739;
  }

  &:hover {
    background: #e6f6fb;
    /* Brand / Lighter Blue #429BD7 */

    border: 1px solid #429bd7;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
    border-radius: 10px;

    .amount {
	  color: #429bd7;
	}
  } 
}


.btn-uppercased{
    font-size: 14px;
	text-transform: uppercase;
}

.m-t-100{
	margin-top: 100px;
}


.page-header{
	padding: 50px 0;
	align-items: center;
	background: #F3F5F9;
	.col-md-6{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	h1.title {
		margin:0 0 16px 0;
		font-size: 48px;
	}

	p.text{
		font-size: 24px;
		line-height: 34px;
		color: #616161;
	}
}


.archive-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 50px 0;

	@media screen and (max-width: 992px) {
		grid-template-columns: 1fr;
	}
	
	.post:nth-child(1){
		grid-column: auto / span 2;

		@media screen and (max-width: 992px) {
			grid-column: auto;
		}
	}

	.page-navigation{
		grid-column: auto / span 2;
		@media screen and (max-width: 992px) {
			grid-column: auto;
		}
	}



	.post-item {
		background: #FFFFFF;
		border: 1px solid #EEEEEE;
		border-radius: 10px;
		display: flex;
		margin: 16px;
		height: 340px;
		overflow: hidden;
	
		@media (max-width: 768px) {
			flex-direction: column;
			height: 586px;

			img{
				height: 140px;
			}
		}
	
		&:hover {
			color: black;
		}

		
	
		.thumbnail-container {
			width: 50%;
			flex: 1;
	
			@media (max-width: 800px) {
				width: 100%;
				margin-bottom: 20px;
			}
	
			.thumbnail {
				position: relative;
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: absolute;
					top: 0;
					left: 0;
				}
	
				&.small {
					background: #ececec;
					img {
						object-fit: none;
					}
				}
			}
		}
	
		.post-info {
			padding: 20px;
			position: relative;
			overflow: hidden;
			width: 50%;
			flex: 1;
	
			@media (max-width: 800px) {
				width: 100%;
			}
	
			a{
				text-decoration: none;
				text-transform: inherit;
			}


			h4 {
				font-size: 32px;
				color: #080808;
				font-weight: 500;
				text-transform: inherit;
			}
			p {
				font-size: 16px;
				color: #616161;
				line-height: 2rem;
				margin: 0 0 10px 0;
			}
	
			.posted-on {
				font-size: 14px;
				font-style: italic;
				color: #9E9E9E;
				margin-bottom: 10px;
				display: block;
			}
		}
	}


	@media screen and (max-width: 992px) {
		.post-item{
		   flex-direction: column;
		   height: 462px;
		   .thumbnail-container{
			   width: 100%;
			   height: 170px;
		   }

		   .post-info{
				width: 100%;
				h4{
					font-size: 24px;
				}
		   }
		}
   }

   >:not(:first-child) .post-item{
	   flex-direction: column;
	   height: 462px;
	   .thumbnail-container{
		   width: 100%;
		   height: 170px;
	   }

	   .post-info{
		   width: 100%;
		   h4{
			   font-size: 24px;
		   }
	   }
   }

	
}


.bg-gray{
	background: #F3F5F9;
}


.uael-content{
	border-radius: 16px;
}

.uael-close-custom-popup-top-right{
	right: 8px;
	top: 8px;
	bottom: auto !important;
    left: auto !important;
}

.uael-modal-close i{
	color: #5a5a5a !important;
}



.category-blog .elementor-text-editor p{
	margin-bottom: 2.5rem;
}

.top-banner{
	display: block;
	background: #2C588C;
	z-index: 999;
}

.reversed-list .elementor-icon-list-item a{
	display: flex;
    flex-direction: row-reverse;
    justify-content: space-between !important;
	color: #080808;
}

.reversed-list .elementor-icon-list-item a.view-all{
	color: #429BD7;
	flex-direction:row;
}

.reversed-list .elementor-icon-list-item a.view-all .elementor-icon-list-icon{
	display:none;
}

.eael-data-table tbody tr td{
	font-family: inherit !important;
}
.position-row{
	font-weight: 400 !important;
	color: #616161 !important;
}




.overflow-hidden{
	overflow:hidden;
}

.image-cover{
	height:100%;
}

.image-cover .elementor-widget-image
{
	height:100%;
}

.image-cover .elementor-widget-container{
	height:100%;
}
.image-cover .elementor-image{
	height:100%;
}

.image-cover img{
	height:100%;
	object-fit:cover;
}





.btn.btn-primary.btn-rounded.btn-uppercased {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.05em;
	padding: 10px 20px;
}



.navbar{
	.current-menu-parent > a, .navbar-light .navbar-nav .active>.nav-link{
		color: rgba(0,0,0,.9) !important;
		font-weight: bold;
	}
}



.dropdown-menu.show{
	background: #FFFFFF;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
	border: none;
	padding: 0;
	overflow: hidden;
	
	.dropdown-item{
		padding: 10px 24px;
		color: #080808;
		&:not(:last-child){
			border-bottom: 1px solid #E0E0E0;
		}

		&:focus, &:hover {
			color: #3a3a3a;
			background: none;
		}
	
		&.active, &:active {
			color: #429BD7;
			background: none !important;
		}

		

	}

	
}