@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');

html,
body {
	font-family: 'Roboto', sans-serif;
}

@import "./navbar.less";
@import "./footer.less";
@import "./news-archive.less";

.site-content {
	// max-width: 1140px;
	// margin: 0 auto;
}

.archive-container {
	padding: 50px 10px;
	.post {
		margin: 10px 0;
	}
}

article.post,
article.news {
	h1.entry-title {
		margin: 30px 0;
		@media (max-width: 900px) {
			margin: 15px 0;
			font-size: 1.5rem;
		}
	}

	.post-thumbnail {
		text-align: center;
		img {
			flex: none;
			margin: 0 auto;
			height: auto;
			width: auto;
			max-width: 100%;
			max-height: 70vh;
		}
	}

	.entry-content {
		font-size: 1.2rem;
		@media (max-width: 900px) {
			font-size: 1rem;
		}
	}
}

.recent-posts {
	padding: 20px;
	background: #f7f7f7;
	h4.title {
		text-transform: uppercase;
		color: #636363;
		padding: 0 8px;
		margin: 10px 0;
	}
}

.recent-posts-container {
	margin: 10px -15px;
}

.post-item {
	a {
		color: lighten(black, 30%);
		text-decoration: none;
		display: flex;
		background: white;
		border: 1px solid #eaeaea;
		padding: 10px;
		margin: 5px;
		height: 220px;
		overflow: hidden;
		border-radius: 5px;

		&:hover {
			border: 1px solid darken(#eaeaea, 10%);
			color: black;
		}

		.post-info {
			padding-left: 10px;
			position: relative;
			overflow: hidden;
			height: 200px;
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: 40px;
				width: 100%;
				background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
				background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
				background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(
						startColorstr='#00ffffff',
						endColorstr='#ffffff',
						GradientType=0
					);
			}
		}
		h4 {
			font-size: 1.2rem;
			margin: 0;
		}
		p {
			font-size: 0.8rem;
			margin: 0;
		}
		img {
			flex: none;
			width: 200px;
			height: 200px;
			object-fit: cover;
			@media (max-width: 500px) {
				width: 100px;
			}
		}
	}

	.posted-on {
		font-size: 0.8rem;
		color: #636363;
		margin-bottom: 5px;
		display: block;
	}
}

.archive-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 58vw;
	max-height: 600px;
	background-size: cover;

	h1 {
		font-size: 4rem;
		color: white;
		text-transform: uppercase;
		margin: 0;
		text-align: center;
		text-shadow: 0 0 20px #000000;

		@media (max-width: 1200px) {
			font-size: 3rem;
		}

		@media (max-width: 900px) {
			font-size: 2rem;
		}
	}
}

.page-navigation {
	padding: 0 0 50px 0;
	text-align: center;
	.nav-links {
		display: flex;
		justify-content: space-between;
		.nav-previous,
		.nav-next {
			padding: 0 10px;
		}
	}
}

.error-404 {
	padding: 150px 10px;
	p {
		font-size: 1.3rem;
		margin-bottom: 50px;
		font-weight: 300;
	}
}

.btn.btn-rounded {
	border-radius: 10rem;
}

.search-header {
	padding: 50px 0 30px 0;
}
.search-container {
	padding: 0 0 30px 0;
}

.image-flex-grid {
	.elementor-widget-wrap {
		display: flex;
		justify-content: center;
	}

	.elementor-widget-image {
		width: auto !important;
		max-width: 30% !important;
		margin: 10px !important;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 900px) {
			width: 100% !important;
			max-width: 100% !important;
		}
	}
}

.yikes-easy-mc-form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.quote-bubble .elementor-testimonial-content {
	background: white;
	padding: 20px;
	border-radius: 15px;
	min-width: 150px;
	position: relative;
}

.quote-bubble .elementor-testimonial-content:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	right: auto;
	top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent #fff;
}

.quote-bubble-dark .elementor-testimonial-content {
	background: #0d8ab9;
}

.quote-bubble-dark .elementor-testimonial-content:after {
	border-color: transparent transparent transparent #0d8ab9;
}
