.navbar-nav .nav-link {
	text-transform: uppercase;
	font-size: 0.9em;
}

.dropdown-menu.show {
	margin-bottom: 10px;
}

.navbar-nav{


	.sign-up-button a.nav-link {
		border: 2px solid #429BD7;
		border-radius: 50px;
		padding: 6px 20px;
		color: white;
		background: #429BD7;;
		transition: all 0.3s;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 12px;
		font-weight: bold;

		&:hover {
			border: 2px solid #3678AF;
			color: white;
			background: #3678AF;
		}
	}

	.sign-in-button a.nav-link {
		border: 2px solid #429BD7;
		border-radius: 50px;
		padding: 6px 20px;
		color: #429BD7;
		transition: all 0.3s;
		text-align: center;
		text-transform: uppercase;
		margin-left: 3rem!important;
		letter-spacing: 0.05em;
		font-size: 12px;
		font-weight: bold;
	
		&:hover {
			border: 2px solid #3678AF;
			color: #3678AF;
		}
	}
}


@media (min-width: 1200px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		margin-left: .9rem;
	}
}

@media (max-width: 1200px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		margin-left: 0.7rem;
		font-size: 0.8rem;
	}

}

@media (max-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 10px 0;
	}
	.navbar-nav {
		padding: 10px;
		.menu-item {
			border-bottom: 1px solid #ececec;
			&:last-child {
				border: none;
			}
			&.sign-up-button {
				margin-top: 15px;
				border: none;

				>a{
					margin-left: 0 !important;
				}
			}
		

			&.sign-in-button {
				margin-top: 15px;
				border: none;
				>a{
					margin-left: 0 !important;
				}
			}
		}
		.dropdown-menu.show {
			background: none;
			border: none;
			text-transform: uppercase;
			margin: 0;
			padding: 0 0 10px 0;

			.dropdown-item {
				padding: .5rem 1.5rem;
				font-size: 0.8rem;
				border-top: 1px solid #ececec;
			}
		}
	}
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav {
		align-items: center;
	}
}
